
/* ================
    Main Page 
================= */

.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
}
.wrapper .background {
    background: no-repeat center;
    position: relative;
    flex-grow: 1;
    background-size: cover;
    
    width: 100vw;
    height: 100vh; 
}

#modelSImg {
    background-image: url("Background_Img/ModelS.jpeg");
}
#modelYImg {
    background-image: url("Background_Img/ModelY.jpeg");
}
#modelYImg *::selection {
    text-shadow: 2px 2px var(--blue);
}
#modelYImg .stat::after {
    background-color: var(--blue);
}
#model3Img {
    background-image: url("Background_Img/Model3.jpg");
}
#modelXImg {
    background-image: url("Background_Img/ModelX.jpg");
}
#modelXImg *::selection {
    text-shadow: 2px 2px rgb(150, 150, 150);
}
#modelXImg .stat::after {
    background-color: rgb(255, 255, 255);
}

.carName {
    position: absolute;
    text-align: center;
    text-align: -webkit-center;

    width: 200px;
    top: 12%;
    right: calc(50% - 100px);
    
    font-family: var(--headerFF);
    font-size: var(--headerFS);

    user-select: text;
    -webkit-user-select: text;
}

.carSpecs {
    display: flex;
    position: absolute;

    background-color: rgba(244, 244, 244, .8);
    
    bottom: 10%;
    width: 80%;
    left: 10%;

    padding: 1rem 0;

    border-radius: 100px;

    user-select: text;
    -webkit-user-select: text;
}

.spec {
    display: inline-block;
    flex-grow: 1;

    text-align: center;
    text-align: -webkit-center;
}

.spec .stat {
    position: relative;
}

.spec .stat::after {
    content: "";
    position: absolute;

    border-radius: 8px;
    height: 1.5px;
    background-color: var(--red);
    
    width: 0;
    bottom: 4%;
    left: 30%;
    transition: width .5s ease;
}

.spec .stat:hover:after {
    width: 40%;
}

.spec .stat .count {
    display: inline-block;

    font-family: "Gotham Medium";
    font-size: 2rem;
    font-weight: 100;
}

.spec .stat .unit {
    display: inline-block;
}

.spec .explain {
    margin-top: 2px;
    font-size: .8rem;
}




/* ================
    Model _ Page 
================= */

.alert {
    background-color: rgba(244, 244, 244);
    color: var(--grey);
    
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;

    border-radius: 10px;
    text-align: center;
    text-align: -webkit-center;

    top: 100%;
    width: 90%;

    padding: 15px 4px;
    margin: 80px auto 10px auto;
}

.carModelHeader {
    font-size: 3rem;
    font-weight: 500;
    
    text-align: center;
    text-align: -webkit-center;

    margin: 10px;
    padding-top: 10px;
    padding-bottom: 4px;
}

.carImage {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.deliveryStatus,
.data {
    color: rgba(92,94,98);
    
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
    
    text-align: center;
    text-align: -webkit-center;
}

.data {
    margin: 40px 0;
    font-weight: 600;
}

@media only screen and (max-width: 850px) {
    .spec .stat:hover:after {
        width: 60%;
    }
    .spec .stat::after {
        left: 20%;
    }
}

@media only screen and (min-width: 800px) {
    .carImage {
        width: 640px;
    }
}


/* ================
    Admin Page 
================= */

#userTable {
    position: absolute;

    left: 50%;
    top: 200px;

    transform: translate(-50%, 0);
}   

#adminModify {
    position: fixed;
    text-align: center;

    width: 200px;
    height: 130px;
    bottom: 10%;
    background-color: var(--black);
    border-radius: 1rem;
    z-index: 2;
}

#adminModify #usernameToModify {
    width: 90%;
}

#adminModify #modifyOptions,
#adminModify #newValue {
    width: 45%;
}
