/* ================
    Html & Body
================= */

:root {
    --black: #393c41;
    --grey: rgb(92,94,98);
    --lightGrey: rgb(244, 244, 244);
    --red: #E82127;
    --blue: rgb(12, 34, 200);
    --headerFF: "Gotham Medium";
    --headerFS: 2.8rem;
}
::selection {
    text-shadow: 2px 2px var(--red);
}

html, body {
    color: var(--black);
     
    font-family: "Gotham Light","Helvetica Neue",Arial,sans-serif;
    font-weight: 900;
    font-size: 14px;
    
    width: 100vw;
    overscroll-behavior: none;

    -ms-overflow-style: none;
    user-select: none;
    -webkit-user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

.freezePageScroll {
    overflow: hidden;
    max-height: 100vh;
}


/* ================
    Header  
================= */


header {
    position: fixed;
    
    top: 0;
    left: 0;
    right: 0;
    height: 50px;

    margin: 1.2rem 2.5rem;

    z-index: 10;
}

header #logo {
    position: absolute;
    
    background: url("logo.svg") no-repeat center;
    background-size: contain;
        
    width: 8rem;
    height: 2rem;
    top: calc(50% - 1rem);
    
    filter: invert(100%);
}

header .heyThereMsg {
    position: absolute;
    text-align: center;
    text-align: -webkit-center;
    
    font-size: 1rem;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    user-select: text;
    -webkit-user-select: text;
}


/* -- Burger menu -- */

header #burger {
    display: block;
    position: absolute;

    cursor: pointer;
    
    height: 1rem;
    width: 1.5rem;

    top: calc(50% - .5rem);
    right: 0;

    z-index: 40;
}

header #burger .burgerStick {
    display: block;
    position: absolute;

    background-color: var(--black);
    
    height: 2px;
    width: 100%;            
    top: 0;
    
    border-radius: 8rem;
}

header #burger #burgerStick-1 {
    transition: top 0.2s, transform 0.4s;
}

header #burger #burgerStick-2 {
    top: calc(50% - 1px);
    transition: background-color 0s ease 0.1s;
}

header #burger #burgerStick-3 {
    top: calc(100% - 2px);
    transition: top 0.2s, transform 0.4s;
}  

header #menuCheckbox:checked ~ #burger #burgerStick-1 {
    top: calc(50% - 1px);
    transform: rotate(135Deg);
    transition: top 0.2s, transform 0.6s;
}

header #menuCheckbox:checked ~ #burger #burgerStick-2 {
    background-color: transparent;
    transform: background-color 0s ease 0.2s;
}

header #menuCheckbox:checked ~ #burger #burgerStick-3 {
    top: calc(50% - 1px);
    transform: rotate(45Deg);
    transition: top 0.2s, transform 0.6s;
}


/* -- Shadow -- */

.shadow {
    background-color: transparent;
    position: fixed;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    pointer-events: none;
    transition: background-color 1s ease;
    z-index: -1;
}

.checkbox:checked + .shadow {

    background-color: rgba(0,0,0, .2);
    pointer-events: auto;
    z-index: 20;

    transition: background-color 1s ease;
}


/* -- menu -- */

header .menu {
    position: fixed;
    background-color: white;
    
    top: 0;
    bottom: 0%;
    width: 310px;
    right: -310px;
    
    z-index: 30;

    overflow-y: auto;
    transition: right .2s ease;
}

#menuCheckbox:checked ~ .menu {
    right: 0;
}

/* -- menu Cars -- */

.menu .menuCarsContainer {
    margin-top: 20%;
}


.menuCarsContainer .menuItem,
.logMethods {
    display: block;
    height: 60px;
    line-height: 60px;
    letter-spacing: 2px;
    font-size: .8rem;
}

.menuCarsContainer .menuItem {
    margin: 0 .8rem;
    border-bottom: 1px solid #d0d1d2;
}

.menuCarsContainer .menuItem__hide,
.logMethod .logMethod__hide {
    display: none;
}

.menuCarsContainer :is(.menuItem__selected, .menuItem:active) {
    font-family: "gotham medium";
}

/* -- Log Methods -- */

.menu .logMethods {
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 5%;
}

.logMethod {
    cursor: pointer;
}

.logMethod:active,
.logMethod__selected {
    font-family: var(--headerFF);
}

.logMethods #signupMethod {
    float: right;
}



/* ================
    Popap
================= */

.popapContent {
    position: fixed;
    background-color: white;
    
    text-align: center;
    text-align: -webkit-center;

    width: 70%;
    height: 80vh;
    left: -90%;
    top: 10vh;

    border-radius: 1rem;
    z-index: 30;

    transition: left 1s ease, transform 1s ease;
}


.checkbox:checked ~ .popapContent {
    left: 15%;
} 

.popap .shadow {
    z-index: 30; /* importent for transitions */
}

.popap .hellouser {  
    font-size: var(--headerFS);
    font-family: var(--headerFF);
    font-family: var(--headerFF);

    margin-top: 10%;
}


/* -- Popap Form -- */

.popapContent form {
    margin-top: 10%;
}

input,
select {
    margin: 5px 0;
    border-radius: 5px;
}

.popapContent form button {
    
    background-color:rgba(244, 244, 244, .8);

    margin-top: 5%;

    font-size: .8rem;
    border-radius: 1rem;
    
    height: 5%;
    width: 20%;
}

.popapContent form button:active {
    font-family: var(--headerFF);
}



/* ======================
    Password Validation
========================= */


.passwordValidation {
    color: transparent;
    position: absolute;

    text-align: left;
    text-align: -webkit-left;
    
    height: 0;
    left: 20%;
    right: 20%;

    z-index: -1;
    border-radius: 1rem;
    padding: 1rem;

    transition: left .3s, right .3s, height .3s, background-color 0s ease .2s, color .2s;
}


.password:focus + .passwordValidation {
    height: 100px;

    background-color: var(--lightGrey);
    color: var(--red);

    left: 15%;
    right: 15%;

    transition: left .3s, right .3s, height .5s ease, color .6s;
}

.password:focus ~ .passwordValidation .valid {    
    color: lightgreen;
}

.password:focus ~ .passValidiy {
    margin-top: 120px;
}



/* ================
    Scale
================= */


@media only screen and (max-height: 340px) {
    .popapContent {
        height: 100vh;
        top: 0;
    }
    .popapContent form button {
        height: 10%;
        width: 25%;
    }

}

@media only screen and (max-height: 520px) {
    .popapContent form button {
        height: 8%;
        width: 23%;
    }
    .menu .logMethods {
    
        bottom: unset;
    }
}

@media only screen and (max-width: 700px) and (min-height: 520px) {
    .popapContent form button {
        height: 5%;
        width: 25%;
    }

    .popapContent {
        width: 80%;
    }

    .checkbox:checked ~ .popapContent {
        left: 10%;
    }
}

@media only screen and (min-width: 600px) {
    .popapContent {
        width: 420px;
        left: -420px;
    }
    
    .checkbox:checked ~ .popapContent {
        left: 50%;
        transform: translate(-50%, 0);
    }
}