<div class="wrapper">
    <div id="modelSImg" class="background">

        <h1 class="carName">Model S</h1>

        <div class="carSpecs">

            <div class="spec">
                <div class="stat">
                    <div class="count">660</div>
                    <div class="unit">km</div>
                </div>
                <div class="explain">Range</div>
            </div>

            <div class="spec">
                <div class="stat">
                    <div class="count">250</div>
                    <div class="unit">kph</div>
                </div>  
                <div class="explain">Top Speed</div>
            </div>

            <div class="spec">
                <div class="stat">
                    <div class="count">3.1</div>
                    <div class="unit">sec</div>
                </div>
                <div class="explain">0-100 kph</div>
            </div>
            
        </div>

    </div>
    <div id="modelYImg" class="background">
        <h1 class="carName">Model Y</h1>
        

        <div class="carSpecs">

            <div class="spec">
                <div class="stat">
                    <div class="count">530</div>
                    <div class="unit">km</div>
                </div>
                <div class="explain">Range</div>
            </div>

            <div class="spec">
                <div class="stat">
                    <div class="count">220</div>
                    <div class="unit">kph</div>
                </div>  
                <div class="explain">Top Speed</div>
            </div>

            <div class="spec">
                <div class="stat">
                    <div class="count">4.8</div>
                    <div class="unit">sec</div>
                </div>
                <div class="explain">0-100 kph</div>
            </div>
            
        </div>

    </div>
    <div id="model3Img" class="background">

        <h1 class="carName">Model S</h1>

        <div class="carSpecs">

            <div class="spec">
                <div class="stat">
                    <div class="count">660</div>
                    <div class="unit">km</div>
                </div>
                <div class="explain">Range</div>
            </div>

            <div class="spec">
                <div class="stat">
                    <div class="count">250</div>
                    <div class="unit">kph</div>
                </div>  
                <div class="explain">Top Speed</div>
            </div>

            <div class="spec">
                <div class="stat">
                    <div class="count">3.1</div>
                    <div class="unit">sec</div>
                </div>
                <div class="explain">0-100 kph</div>
            </div>
            
        </div>

    </div>
    <div id="modelXImg" class="background">
        <h1 class="carName">Model X</h1>
        

        <div class="carSpecs">

            <div class="spec">
                <div class="stat">
                    <div class="count">530</div>
                    <div class="unit">km</div>
                </div>
                <div class="explain">Range</div>
            </div>

            <div class="spec">
                <div class="stat">
                    <div class="count">220</div>
                    <div class="unit">kph</div>
                </div>  
                <div class="explain">Top Speed</div>
            </div>

            <div class="spec">
                <div class="stat">
                    <div class="count">4.8</div>
                    <div class="unit">sec</div>
                </div>
                <div class="explain">0-100 kph</div>
            </div>
            
        </div>

    </div>
</div>  