<div class="alert">1,500$ Clean Fuel Reward is now available for California residents.</div>
<img src="cars_img/ModelX.jpg" alt="car image" class="carImage">
<h1 class="carModelHeader">Model X</h1>
<div class="deliveryStatus">Est. Delivery: March-June</div>
<div class="data">The Tesla Model X is a mid-size all-electric luxury crossover made by Tesla, Inc. The vehicle is notable in that it uses falcon-wing doors for passenger access.
    The Model X was developed from the full-sized sedan platform of the Tesla Model S. The Model X has an EPA size class as an SUV, and shares ~30% of its content with the Model S, half of the originally planned ~60%, and weighs about 10 percent more.</div>