<div class="alert">1,500$ Clean Fuel Reward is now available for California residents.</div>
<img src="cars_img/ModelS.jpeg" alt="car image" class="carImage">
<h1 class="carModelHeader">Model S</h1>
<div class="deliveryStatus">Est. Delivery: September-October</div>
<div class="data">
    The Tesla Model S is an all-electric five-door liftback sedan produced by Tesla, Inc., and was introduced on June 22, 2012 As of August 2020, the Model S Long Range Plus has an EPA range of 647 km, higher than that of any other battery electric car.
    Model S cars built from October 2014 have a feature called Autopilot, an advanced driver assistance system that allows the car to operate without assistance from the driver.</div>