<div class="alert">1,500$ Clean Fuel Reward is now available for California residents.</div>
<img src="cars_img/ModelY.jpg" alt="car image" class="carImage">
<h1 class="carModelHeader">Model Y</h1>
<div class="deliveryStatus">Est. Delivery: January-March</div>
<div class="data">The Tesla Model Y is an electric compact crossover utility vehicle (CUV) by Tesla, Inc. Tesla unveiled it in March 2019, started production at its Fremont plant in January 2020 and started deliveries on March 13, 2020</div>