<div class="alert">1,500$ Clean Fuel Reward is now available for California residents.</div>
<img src="cars_img/Model3.jpg" alt="car image" class="carImage">
<h1 class="carModelHeader">Model 3</h1>
<div class="deliveryStatus">Est. Delivery: August-September</div>
<div class="data">The Tesla Model 3 is an electric four-door fastback mid-size sedan developed by Tesla. The Model 3 Standard Range Plus version delivers an EPA-rated all-electric range of 423 km and the Long Range versions deliver 568 km. The Model 3 carries full self-driving hardware, with periodic software updates adding functionality.</div>