/* CSS Mini Reset */

html, body, div, form, fieldset, legend, label {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    text-align: left;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

input, select, textarea, button {
    font-family: inherit;
    outline: none;
    border-style: solid;
}

input[type="checkbox"] {
    display: none;
}
